@import "tailwindcss";
                                                                                                                                                               
  @custom-variant dark (&:where(.dark, .dark *));
                                                                                                                                                               
  :root {         
    --background: #ffffff;
    --foreground: #000000;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;                                                                                                                                     
  }
                                                                                                                                                               
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }

  body {
    background-color: var(--background);
  }

  .ent-section {
    @apply flex flex-col items-center justify-between gap-4 bg-foreground/10 text-foreground backdrop-blur-lg rounded-lg p-6 h-140 w-90;
  }

  .ent-input {
    @apply bg-foreground/10 backdrop-blur-lg rounded-md p-3 hover:bg-foreground/20 hover:scale-101 transition-all duration-100 placeholder:text-foreground/60 placeholder:text-xs w-full;
  }

  .ent-button {
    @apply bg-foreground/10 backdrop-blur-lg rounded-lg p-2 hover:bg-foreground/20 hover:scale-101 transition-all duration-200 cursor-pointer;
  }

  .ent-button_flex {
    @apply flex items-center justify-center gap-2;
  }

  .ent-link {
    @apply text-xs hover:underline transition-all duration-100 cursor-pointer;
  }